SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOP_DOMAIN=store-name.myshopify.com
RETURNS_EMAIL=returns@store-domain.com
BREVO_API_KEY=
PORT=3000
ADMIN_SECRET=ba28cbc89a37ed669d4f77f3e14c3f4bdb6af4839a26e00f3ee7f7282f5be0cb
STORE_LOGO_URL=
ROYAL_MAIL_CLIENT_ID=
ROYAL_MAIL_CLIENT_SECRET=