SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_ACCESS_TOKEN=
SHOP_DOMAIN=momina.myshopify.com
RETURNS_EMAIL=info@momina.co.uk
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
PORT=3000
ADMIN_SECRET=
